<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <h3>le costume wagon</h3>
    <%= form_with url: costumes_path, method: :get, local: true, class: "search-bar" do %>
      <div class="field">
        <%= text_field_tag :query, params[:query], placeholder: "Search character" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-gradient" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://img.freepik.com/premium-vector/male-avatar-icon-unknown-or-anonymous-person-default-avatar-profile-icon-social-media-user-business-man-man-profile-silhouette-isolated-on-white-background-vector-illustration_735449-120.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My booking", bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"-->
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="container">
  <% if @costumes.any? %>
    <%# <p><%= "#{Costume.count} costumes of #{params[:query]}" %></p>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: 'card-trip-link text-decoration-none text-black' do %>
        <% if costume.photo.attached? %>
          <div class="card-trip">
            <% costume.photo.each do |photo| %>
              <%= image_tag photo %>
            <% end %>
          <% else %>
            No image availables
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= costume.character%></h2>
              <p><%=costume.user.name %></p>
              <p>¥<%= costume.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No costumes found</p>
  <% end %>
</div>
</div>
