<%= form_tag costumes_path, method: :get do %>
  <div class="container">
    <div class="dropdown-filter d-flex justify-content-between mb-5">
      <fieldset class="form-group check_boxes optional snippet_tags">
        <legend class="col-form-label pt-0">Genres</legend>
        <%= hidden_field_tag 'genres[]', nil %>
        <% genres = [['Movies', 'Movies'], ['Scary', 'Scary'], ['Japanese anime', 'Japanese anime'], ['Superhero', 'Superhero'], ['Pixar', 'Pixar'], ['Food', 'Food'], ['Marvel', 'Marvel'], ['Pets', 'Pets'], ['Star Wars', 'Star Wars']] %>
        <% genres.each do |genre, param| %>
          <% id_param = param.downcase.gsub(' ', '_') %>
          <div class="tag-item">
            <%= check_box_tag 'genres[]', param, params[:genres].present? && params[:genres].include?(param), class: 'form-check-input check_boxes optional tag-selector', id: "snippet_tag_ids_#{id_param}", onchange: "this.form.submit();" %>
            <%= label_tag "snippet_tag_ids_#{id_param}", genre, class: 'form-check-label collection_check_boxes' %>
          </div>
        <% end %>
      </fieldset>
      <div class="dropdown">
        <label>Sort by Price</label><br>
        <%= select_tag 'sort_by', options_for_select([['Low to High', 'cost_asc'], ['High to Low', 'cost_desc']], params[:sort_by]), onchange: "this.form.submit();", class: "dropdown" %>
      </div>
    <% end %>
  </div>
  <% if @costumes.any? %>
    <%# <p><%= "#{Costume.count} costumes of #{params[:query]}" %></p>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: 'card-trip-link text-decoration-none text-black' do %>
        <% if costume.photo.attached? %>
          <div class="card-trip">
            <% costume.photo.each do |photo| %>
              <%= image_tag photo %>
            <% end %>
          <% else %>
            No image availables
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= costume.character%></h2>
              <p><%=costume.user.name %></p>
              <h1 class="price-right"><%= number_to_currency(costume.price, {unit: '¥', precision: 0}) %><span class="smaller-text">/day</span></h1>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No costumes found</p>
  <% end %>
</div>
</div>
