<%= form_tag costumes_path, method: :get do %>
  <div class="container">
    <div class="dropdown-filter d-flex justify-content-between mb-5">
      <fieldset  class="form-group check_boxes optional snippet_tags">
        <legend class="col-form-label pt-0">Genres</legend>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Movies", params[:genres].present? && params[:genres].include?("Movies"), id: 'check-movies', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-movies">Movies</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Scary", params[:genres].present? && params[:genres].include?("Scary"), id: 'check-scary', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-scary">Scary</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Japanese anime", params[:genres].present? && params[:genres].include?("Japanese anime"), id: 'check-japanese-anime', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-japanese-anime">Japanese anime</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Superhero", params[:genres].present? && params[:genres].include?("Superhero"), id: 'check-superhero', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-superhero">Superhero</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Pixar", params[:genres].present? && params[:genres].include?("Pixar"), id: 'check-pixar', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-pixar">Pixar</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Food", params[:genres].present? && params[:genres].include?("Food"), id: 'check-food', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-food">Food</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Marvel", params[:genres].present? && params[:genres].include?("Marvel"), id: 'check-marvel', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-marvel">Marvel</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Pets", params[:genres].present? && params[:genres].include?("Pets"), id: 'check-pets', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-pets">Pets</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Star Wars", params[:genres].present? && params[:genres].include?("Star Wars"), id: 'check-star-wars', class: 'form-check-input check_boxes optional tag-selector', onchange: "this.form.submit();" %>
          <label for="check-star-wars">Star Wars</label>
        </div>
      </fieldset>
      <div class="dropdown">
        <label>Sort by Price</label><br>
        <%= form_with(url: costumes_path, method: :get, local: true, html: { class: "dropdown-form" }) do |form| %>
          <%= form.select :sort_by, [['Low to High', 'cost_asc'], ['High to Low', 'cost_desc']], { prompt: 'Select Sort' }, class: "dropdown", onchange: "this.form.submit();" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @costumes%>
    <div class="cards">
      <% @costumes.each do |costume| %>
        <%= link_to costume_path(costume), class: 'card-trip-link text-decoration-none text-black' do %>
          <% if costume.photo.attached? %>
            <div class="card-trip">
              <% costume.photo.each do |photo| %>
                <%= image_tag photo %>
              <% end %>
            <% else %>
              No image availables
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= costume.character%></h2>
                <p><%=costume.user.name %></p>
                <h1 class="price-right"><%= number_to_currency(costume.price, {unit: '¥', precision: 0}) %><span class="smaller-text">/day</span></h1>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No costumes found</p>
    </div>
  <% end %>
</div>
