<%= form_tag costumes_path, method: :get do %>
  <div class="container">
    <div class="dropdown-filter d-flex justify-content-between mb-5">
      <fieldset data-controller="check-all-checkboxes" class="form-group check_boxes optional snippet_tags">
        <legend class="col-form-label pt-0">Genres</legend>
        <div class="tag-item">
          <input data-action="change->check-all-checkboxes#checkAll" id="check-all" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-all">All</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-movies" type="checkbox" class='form-check-input check_boxes optional tag-selector' name="genres[]" value="Movies">
          <label for="check-movies">Movies</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-scary" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-scary">Scary</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-japanese-anime" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-japanese-anime">Japanese anime</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-superhero" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-superhero">Superhero</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-pixar" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-pixar">Pixar</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-food" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-food">Food</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-marvel" type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-marvel">Marvel</label>
        </div>
        <div class="tag-item">
          <input data-check-all-checkboxes-target="checkbox" id="check-pets"type="checkbox" class='form-check-input check_boxes optional tag-selector'>
          <label for="check-pets">Pets</label>
        </div>
        <div class="tag-item">
          <%= check_box_tag "genres[]", "Star Wars", params[:genres].present? && params[:genres].include?("Star Wars"), id: 'check-star-wars', class: 'form-check-input check_boxes optional tag-selector', data: { check_all_checkboxes_target: 'checkbox' }, onchange: "this.form.submit();" %>
          <label for="check-star-wars">Star Wars</label>
        </div>
      </fieldset>
      <div class="dropdown">
        <label>Sort by Price</label><br>
        <%= form_with(url: costumes_path, method: :get, local: true, html: { class: "dropdown-form" }) do |form| %>
          <%= form.select :sort_by, [['Low to High', 'cost_asc'], ['High to Low', 'cost_desc']], { prompt: 'Select Sort' }, class: "dropdown", onchange: "this.form.submit();" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @costumes%>
    <div class="cards">
      <% @costumes.each do |costume| %>
        <%= link_to costume_path(costume), class: 'card-trip-link text-decoration-none text-black' do %>
          <% if costume.photo.attached? %>
            <div class="card-trip">
              <% costume.photo.each do |photo| %>
                <%= image_tag photo %>
              <% end %>
            <% else %>
              No image availables
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= costume.character%></h2>
                <p><%=costume.user.name %></p>
                <h1 class="price-right"><%= number_to_currency(costume.price, {unit: '¥', precision: 0}) %><span class="smaller-text">/day</span></h1>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No costumes found</p>
    </div>
  <% end %>
</div>
