<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <%= form_with url: costumes_path, method: :get, local: true, class: "search-bar" do %>
      <div class="field">
        <%= text_field_tag :query, params[:query], placeholder: "Search character" %>
      </div>
      <%= submit_tag "Search" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <%# else %>
        <!--li class="nav-item"-->
        <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<% if @costumes.any? %>
  <p><%= "#{Costume.count} costumes of #{params[:query]}" %></p>
  <div class="cards">
    <% @costumes.each do |costume| %>
      <% if costume.photo.attached? %>
        <div class="card-trip">
          <% costume.photo.each do |photo| %>
            <%= image_tag photo %>
          <% end %>
        <% else %>
          No image availables
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= costume.character %></h2>
            <p><%=costume.user.name %></p>
            <p>¥<%= costume.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No costumes found</p>
  <% end %>
</div>
</div>
