<div class="container">
  <h1>My costumes requested by others </h1>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <%= cl_image_tag booking.costume.photo.first.key  %>
      <div class="d-flex justify-content-between">
        <div class="card-product-infos">
          <p>Booking ID: <%= booking.id %></p>
          <h2><%= booking.costume.character %> is requested by <%= booking.user.name %></h2>
          <p>From <%= booking.start_date %> to <%= booking.end_date %>
            <p><%= booking.days %> days at <%= number_to_currency(booking.costume.price, {unit: '¥', precision: 0}) %>/day = <strong><%= number_to_currency(booking.total, {unit: '¥', precision: 0}) %></strong></p>
            <div class="d-flex justify-content-between">
              <p>Status: <strong><%= booking.status %></strong></p>
            </div>
          </div>
        </div>
        <div>
          <!--  -->
          <% if booking.pending? %>
            <!-- Accept Button-->
            <%= simple_form_for [:owner, booking] do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
              <%= f.submit 'Accept', class: 'btn btn-outline-primary' %>
            <% end %>
            <!-- Decline Button-->
            <%= simple_form_for [:owner, booking] do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'Declined'} %>
              <%= f.submit 'Decline', class: 'btn btn-outline-danger' %>
            <% end %>
          <% else %>
            <!-- Status-->
            <button type="button" class="btn btn-dark"><%= booking.status %></button>
          <% end %>
          <!--  -->
        </div>
      </div>
    <% end %>
    <a href="/costumes" class="btn btn-primary" role="button">Home</a>
  </div>
</div>
