<div class="container">
  <h1>My costumes requested by others </h1>
  <div class="bookings">
    <% @bookings.each do |booking| %>
      <div class="booking">
        <div class='booking-left'>
          <!-- if you're using cloudinary and activestorage -->
          <%= cl_image_tag booking.costume.photo.first.key, class: "booking-img" %>
          <div class="booking-info">
            <!-- the status info was placed here just for testing purposes
            <p>Booking ID: <%= booking.id %></p>
            -->
            <div class="booking-info-title align-self-center">
              <%= booking.costume.character %> is requested by
            </div>
            <h3 class="align-self-center"><%= booking.user.name %></h3>
            <!-- there is a strange gap between the stars and name -->
            <%# <form class="star-rating align-self-center">
              <input type="radio" name="review[rating]" value="1" />
              <input type="radio" name="review[rating]" value="2" />
              <input type="radio" name="review[rating]" value="3" checked />
              <input type="radio" name="review[rating]" value="4" />
              <input type="radio" name="review[rating]" value="5" />
            </form> %>
            <!-- need this space because the dates below will otherwise be too
            close to the stars above -->
            <p></p>
            <div class="booking-info-details">
              From <%= booking.start_date %> to <%= booking.end_date %>
              <!-- the status info was placed here just for testing purposes
            <p>Status: <strong><%= booking.status %></strong></p>
            -->
            </div>
          </div>
        </div>
        <div class="booking-financial">
          <h2><%= number_to_currency(booking.total, {unit: '¥', precision: 0}) %></h2>
          <p>(<%= booking.days %> days at <%= number_to_currency(booking.costume.price, {unit: '¥', precision: 0}) %>/day)</p>
        </div>
        <div class="booking-actions">
          <% if booking.pending? %>
            <!-- Accept Button-->
            <%= simple_form_for [:owner, booking] do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
              <%= f.submit 'Accept', class: 'btn btn-outline-primary' %>
            <% end %>
            <!-- Decline Button-->
            <%= simple_form_for [:owner, booking] do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'Declined'} %>
              <%= f.submit 'Decline', class: 'btn btn-outline-danger' %>
            <% end %>
          <% else %>
            <!-- Status indicator instead of Accept / Decline buttons-->
            <button type="button" class="btn btn-dark"><%= booking.status %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <h1>My postings</h1>
  <div class="cards-posting d-flex justify-content-start mt-2">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: 'card-trip-link text-decoration-none text-black' do %>
        <% if costume.photo.attached? %>
          <div class="card-trip " style="margin-right: 10px">
            <%= link_to costume_path(costume),class: "delete-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
              <i class="fa-solid fa-trash-can fa-lg"></i>
            <% end %>
            <% costume.photo.each do |photo| %>
              <%= image_tag photo %>
            <% end %>
          <% else %>
            No image availables
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= costume.character%></h2>
              <p><%=costume.user.name %></p>
              <h1 class="price-right"><%= number_to_currency(costume.price, {unit: '¥', precision: 0}) %><span class="smaller-text">/day</span></h1>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
