<div class="container">
  <h1>My Bookings</h1>
  <h2>Costumes I'm renting</h2>
  <ol>
    <% @bookings.each do |booking| %>
      <ul>Booking ID: <%= booking.id %></ul>
      <ul>Character: <%= booking.costume.character %></ul>
      <ul>Owner of Costume: <%= booking.costume.user.name %></ul>
      <ul>Rent Start: <%= booking.start_date %></ul>
      <ul>Rent End <%= booking.end_date %></ul>
      <ul>Price per day<%= booking.costume.price %></ul>
      <ul>Days Rented <%= booking.days %></ul>
      <ul>Rental Total <%= booking.total%></ul>
      <p>------------------------------</p>
    <% end %>
    <h2>My costumes others are renting</h2>
  </div>
  <a href="/costumes" class="btn btn-primary" role="button">Home</a>
