<!DOCTYPE html>
<html>
  <head>
    <title>LeCostumeWagon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <div class="d-flex">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png" %>
          <% end %>
          <%= link_to root_path, class: "title text-decoration-none text-black pt-3 pr-3 pb-3" do %>
            <h1>le costume wagon</h1>
          <% end %>
        </div>
        <%= form_with url: costumes_path, method: :get, local: true, class: "search-bar" do %>
          <div class="search-container"><%= text_field_tag :query, params[:query], placeholder: "Search character", class: "search" %>
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
          </div>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= link_to "Lists", costumes_path, class: "nav-link" %>
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= image_tag "https://img.freepik.com/premium-vector/male-avatar-icon-unknown-or-anonymous-person-default-avatar-profile-icon-social-media-user-business-man-man-profile-silhouette-isolated-on-white-background-vector-illustration_735449-120.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "My booking", bookings_path, class: "dropdown-item" %>
                  <%= link_to "My posting", owner_bookings_path, class: "dropdown-item" %>
                  <%= link_to "Post new costume", new_costume_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
            <% else %>
              <li class="nav-item"-->
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
